@mixin linear-gradient {
  background: linear-gradient(#ff79da, #9356dc);
}
@mixin button-shadow {
  box-shadow: 2px 5px 20px rgb(167, 167, 167);
}
@mixin hover-shadow {
  box-shadow: 3px 6px 20px rgb(137, 137, 137);
}
@mixin heart-animation {
  .fa-heart {
    position: absolute;
    font-size: 24px;
  }
  .heart-icon {
    opacity: 0;
    background-image: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    color: transparent;
    transition-property: all;
    transition: opacity 600ms ease-in-out;
    &:hover {
      opacity: 1;
      background-image: linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      color: transparent;
    }
  }
}
