@mixin linear-gradient {
  background: linear-gradient(#ff79da, #9356dc);
}
@mixin button-shadow {
  box-shadow: 2px 5px 20px rgb(167, 167, 167);
}
@mixin hover-shadow {
  box-shadow: 3px 6px 20px rgb(137, 137, 137);
}
@mixin heart-animation {
  .heart-animated{
    position:relative;
  }
  .fa-heart {
    position: absolute;
    font-size: 24px;
    transition: transform 800ms ease;
  }
  .heart-icon {
    transform: scale(0);
    background-image: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
     color: transparent;
  }
  .heart-animated:hover .heart-icon{
    transform: scale(1);
  }
}



