$headerColor: white;
$headerlocal: #dcdcdc62;
$explorerColor: #dcdcdc62;
$restoColor:#f6f6f6;
$headerBoXshadoww: 5px 0px 20px rgb(167, 167, 167);
$backgroundlocal: #dedcdc;
$backgroundtutonumb: #9356dc;
$tutoiconColor: #8f8d8d;
$menubutton: #008766;
$menucardshadhoww: #aaa;
$backgroundFooter: #353535;