* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
  }